.firstbox{
    position: relative;
}

.dd{
    position: absolute;
    top: 0px;
    margin-top: 150px;
    margin-left: 100px;
}
.dd h1{
    margin: 25px;
    margin-left: 0px;
    font-weight: bold;
}